@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--mainBlack);
    background: #e8f0f7;
    font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
    top: 0;
    min-height: 80px;
    min-width: 100%;
    background: rgb(231, 226, 221, 0.9);
    z-index: 1;
}

.nav-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    font-size: 1.5rem;
}

.logo {
    color: var(--mainBlack);
    text-decoration: none;
    max-width: 30px;
    max-height: 30px;
}

.nav-list {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 650;
    border-bottom: 4px solid var(--primaryColor);
    padding-bottom: 3px;
    letter-spacing: var(--mainSpacing);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: none;
    position: relative;
}

.nav-list::after {
    content: '';
    height: 4px;
    width: 100%;
    background: #fca311;
    position: absolute;
    left: 0;
    bottom: -14px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.nav-list:hover::after {
    opacity: 1;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

@media (max-width: 650px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;
    }

    .nav-list {
        column-gap: 20px;
    }
}

/* --------------- End of Navbar ---------------- */

/* Beginning of Carousel */

.hero {
    min-height: calc(85vh - 60px);
    align-items: center;
    justify-content: center;
}

.c-item {
    height: 45rem;
}

.c-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.carousel-caption {
    top: 0;
    margin-top: 7.5%;
}

.carousel-caption .btn {
    color: white;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 28px;
    margin-top: 5%;
    padding: 7px 18px;
    border: none;
    background: linear-gradient(90deg, #ff922c, #a10440);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.carousel-caption p {
    color: #fca311;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 54px;
    margin-top: -5%;
    -webkit-text-stroke: 0.07vw #ffffff;
}

.carousel-caption h1 {
    color: #fca311;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 28px;
    margin-top: 10%;
    position: relative;
    -webkit-text-stroke: 0.05vw #ffffff;
}

.carousel-caption h2 {
    color: #fca311;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 28px;
    margin-top: 10%;
    position: relative;
    -webkit-text-stroke: 0.05vw #ffffff;
}


/* End of Carousel */

/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--mainWhite);
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 16rem;
    transition: var(--mainTransition);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}

/* ---------------End of Products ---------------- */

/* About Us Starting */

.about-section {
    text-align: center;
    align-items: center;
    padding: 8.5%;
    display: flex;
    background: url("/img/Wide shot.jpg") bottom/cover no-repeat;
    color: var(--mainGrey);
    max-width: 100%;
    max-height: 100%;
}

.section-title h2 {
    color: #000;
}

.section-title p {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    max-width: 100%;
    max-height: 100%;
    margin: 2%;
    background-color: #f09d51;
    padding: 20px;
    border-radius: 8px;
    color: var(--mainBlack);
    box-shadow: 10px 5px 15px #000;
    opacity: 0.85;
}

/* End of about us */


/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.clear-cart {
    background-color: #f09d51;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */