@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--mainBlack);
    background: #e8f0f7;
    font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */


ul {
    list-style: none;
}

.header {
    background: rgba(231, 226, 221, 1);
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1600px;
    min-height: 70px;
    margin: 0 115px;
    padding: 0 30px;
    justify-content: space-between;
}

.logo-img {
    color: var(--mainBlack);
    text-decoration: none;
    display: block;
    height: auto;
    width: 80px;
}

.navbar {
    top: 0;
    background: rgba(231, 226, 221, 0.9);
    z-index: 1;
}

.nav-container {
    display: flex;
    column-gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-item {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    transition: all 0.4s;
    text-transform: uppercase;
    font-weight: 650;
    border-bottom: 4px solid var(--primaryColor);
    padding-bottom: 3px;
    letter-spacing: var(--mainSpacing);
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: none;
    position: relative;
}

.nav-item:hover,
.nav-item:focus {
    color: rgba(0, 0, 0, 1);
}

.nav-item::after {
    content: '';
    height: 4px;
    width: 100%;
    background: #fca311;
    position: absolute;
    left: 0;
    bottom: -14px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.nav-item:hover::after {
    opacity: 1;
}

.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

@media (max-width: 650px) {
    .header-content {
        flex-direction: column;
        padding: 20px 0;
        row-gap: 10px;
    }

    a.nav-item {
        font-size: 14px;
    }

    .nav-container {
        column-gap: 5px;
    }
}

/* --------------- End of Navbar ---------------- */

/* --------------- Products ---------------- */



/* ---------------End of Products ---------------- */

/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.clear-cart {
    background-color: #f09d51;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */